<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta tags -->
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1, shrink-to-fit = no">
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>Add customer</title>
</head>

<body>
<div class = "container">
    <nav class = "navbar navbar-expand-sm navbar-dark bg-secondary">
        <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
            <ul class = "navbar-nav mr-auto">
                <li class = "nav-item">
                    <a class = "nav-link" th:href="@{/}">Home</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" th:href="@{/customers}">Customers</a>
                </li>
            </ul>
        </div>
    </nav>
    <form action="#" method="post" th:action="@{/customers/add-customer}" th:object="${customer}">
        <h2 class = "mt-4">Add Customer</h2>
        <hr/>
        <!-- Form levels error messages here -->
        <div class = "form-group row ">
            <div class="col-sm-8">
                <span class="text-danger" th:errors="*{global}"> </span>
            </div>
        </div>
        <div class = "form-group row ">
            <label class = "col-sm-2 col-form-label">First Name</label>
            <div class = "col-sm-4">
                <input th:field="*{firstName}" type = "text" class = "form-control" placeholder = "First Name">
            </div>
            <div class="col-sm-4">
                <span class="text-danger" th:errors="*{firstName}"> </span>
            </div>
        </div>
        <div class = "form-group row ">
            <label class = "col-sm-2 col-form-label mr-0">Last Name</label>
            <div class = "col-sm-4">
                <input th:field="*{lastName}" type = "text" class = "form-control" placeholder = "Last Name">
            </div>
            <div class="col-sm-4">
                <span class="text-danger" th:errors="*{lastName}"> </span>
            </div>
        </div>
        <div class = "form-group row ">
            <label class = "col-sm-2 col-form-label">Email</label>
            <div class = "col-sm-4">
                <input th:field="*{email}" class = "form-control" placeholder = Number>
            </div>
            <div class="col-sm-4">
                <span class="text-danger" th:errors="*{email}"> </span>
            </div>
        </div>
        <div class = "form-group row">
            <div class = "col-sm-10">
<!--                needed to distinguish between create and update of object-->
                <input type="hidden" th:field="*{id}" />
                <button type = "submit" class = "btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
<!--    <td><a href="#" class="btn btn-info" role="button" th:href="@{/students(id=${student.id})}">Update</a></td>-->

</div>
<script src = "https://code.jquery.com/jquery-3.3.1.slim.min.js"> </script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" > </script>
<script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" > </script>
</body>
</html>
