<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Customers</title>
    <!-- reference our style sheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <h2>CRM - Customer Relationship Manager</h2>
    </div>
</div>
<div id="container">
    <div id="content">
        <a th:href="@{/customers/add-customer}">
            <button>Add Customer</button>
        </a>

        <!--  add a search box -->
        <form th:action="@{/customers/search}" method="GET">
            Search customer: <input type="text" name="name" />
            <input type="submit" value="Search" class="add-button" />
        </form>
        <!--  add our html table here -->
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            <!-- loop over and print our customers -->
            <tr th:each="customer: ${customers}">
                <td th:text="${customer.getFirstName()}"></td>
                <td th:text="${customer.getLastName()}"></td>
                <td th:text="${customer.getEmail()}"></td>
                <td>
                    <a th:href="@{/customers/update-customer(customerId=${customer.getId()})}">
                        <button>Update</button>
                    </a>
                    <a th:href="@{/customers/delete-customer(customerId=${customer.getId()})}"
                       onclick="if (!(confirm('Are you sure you want to delete this customer?'))) return false">
                        <button>Delete</button>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>


